<%- include('../partials/header')  %>
  <a href="/questions">Back</a>
  <h1><%= question.title %></h1>
  <p><%= question.description %></p>
  <p> <strong>Created at:</strong><%= question.createdAt %></p>
<%- include('../partials/footer')  %>
